body {
  background-color: #1D1F20;
  color: white;
}

h1, h2 {
  font-weight: lighter;
  text-align: center;
  margin: 2em auto;
}
h2 {
  font-size: 1.25em;
  opacity: 0.5;
}

.output {
  font-size: 0.75em;
}

#c {
  position: fixed;
  left: 0; top: 0;
  width: 100%; height: 100%;
  box-shadow: inset 0 0 2em black;
  z-index: -1;
}