body {
	background-color: #1D1F20;
}

h1, h2 {
    color: White;
    font-weight: lighter;
 	text-align: center;
 	margin: 1em;
}

h2 {
	font-size: 1.25em;
	opacity: 0.5;
}

#equalizerCanvas {
	box-shadow: inset 0 0 2em black;
	height: 100%;	
	left: 0; 
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
}

#controls {
	align-items: center;
  	justify-content: center;
}

#toggleTunes {
	outline: none;
}

input[type="range"] {
	width: 200px;
}